@using DockerGen.Container
@using System.Linq.Expressions

<li class="instruction recipe" draggable="true" @ondragstart="@(() => OnDrag(Recipe))" @key="Recipe.Id">
    <div class="instruction-title image-item">
        @Recipe.DisplayName
        <button type="button" class="btn-close" aria-label="Close" @onclick="RemoveInstruction"></button>
    </div>
    <div class="instruction-values">
        @foreach (var parameter in Recipe.Parameters)
        {
            <div class="form-group">
                <label for="@parameter">@parameter</label>
                <input type="text" id="@parameter" @bind="Recipe[parameter]" />
            </div>
        }
    </div>

</li>

@code {
    [CascadingParameter]
    public Features.Container.Pages.Index ContainerEditor { get; set; }
    [Parameter]
    public DynamicRecipe Recipe { get; set; }
    [Parameter]
    public Action<DynamicRecipe> OnDrag { get; set; }
    [Parameter]
    public Action<DynamicRecipe> OnDrop { get; set; }

    private void RemoveInstruction()
    {
        ContainerEditor.Container.RemoveInstruction(Recipe);
    }
}