@using DockerGen.Container
@using DockerGen.Features.Container.Store
@inherits FluxorComponent
@inject IState<ContainerState> State
<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            @if (State.Value.Container.Stages?.Count > 1)
            {
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatSelect Label="Source stage" @bind-Value="@Instruction.Stage" FullWidth="true">
                        <MatOptionString Value="@(null)">This stage</MatOptionString>
                        @foreach (var stage in State.Value.Container.Stages)
                        {
                         <MatOptionString Value="@stage.StageName">@stage.StageName</MatOptionString>
                        }
                    </MatSelect>
                </div>
            }
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatTextField Label="Source directory/file" FullWidth="true" PlaceHolder="src/project/" @bind-Value="@Instruction.Source"></MatTextField>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatTextField Label="Destination directory/file" FullWidth="true" PlaceHolder="/app" @bind-Value="@Instruction.Destination"></MatTextField>
            </div>
        </div>
    </div>
</InstructionElement>

@code {
    [Parameter]
    public CopyInstruction Instruction { get; set; }
}