@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatTextField Label="Health check command" @bind-Value="@Instruction.Command" FullWidth="true" Required="true" PlaceHolder="curl -f http://localhost/ || exit 1"></MatTextField>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatNumericUpDownField Label="Interval" Minimum="1" PlaceHolder="30" @bind-Value="@Instruction.Interval"></MatNumericUpDownField>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatNumericUpDownField Label="Timeout" Minimum="1" PlaceHolder="30" @bind-Value="@Instruction.Timeout"></MatNumericUpDownField>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatNumericUpDownField Label="Start time" Minimum="0" PlaceHolder="0" @bind-Value="@Instruction.StartPeriod"></MatNumericUpDownField>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatNumericUpDownField Label="Retries" Minimum="0" PlaceHolder="3" @bind-Value="@Instruction.Retries"></MatNumericUpDownField>
            </div>
        </div>
    </div>
</InstructionElement>
@code {
    [Parameter]
    public HealthCheckInstruction Instruction { get; set; }
}